@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-family: 'Inter var';
}


img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  --font-sans: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
  /* --size-outline: 3px; // Esto es para cambiar el outline del helper */
}

/* Base */
body {
  font-family: var(--font-sans);
}
/* Layout */
.contenedor-banner {
  background-color: #ff9a00;
}
.contenedor-banner h2{
  font-size: 30px;
  text-align: center;
}
.contenedor-banner p{
  text-align: center;
}
.contenedor-banner img{
  width: 300px;
  height: 169px;
  /* margin-top: auto; */
  /* margin-right: auto; */
  /* margin-bottom: auto; */
  margin-left: auto;
}
/* Componentes */
.componente {
  width: 225px;
  height: 300px;
}

.menu ul {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 30px;
background-color: #ff9a00;
color: white;
font-family: 'Inter var';
font-size: 20px;
}



/* .componente div{
  margin-top: -100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
} */

/* Utilidades */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
