/* Imports & supports */
/* @import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
} */
/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0
}
body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: #f6f3ca;
  color: #294016;
}

ul {
  margin: 0;
  padding-inline: 0
}
li {
  list-style: none
}
a {
  text-decoration: none
}
img,
picture {
  max-width: 100%;
  display: block

}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important
  }
}
/* Variables */
:root {
  /* colores */
  /*   --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%; */
  /* tipografia */
     --f-family: "Signika Negative", sans-serif;
  --f-size: 170px;
  --f-weight: 400;

}
/* Aplica estas variables a todos los elementos */
* {
  font-family: var(--f-family);
  font-size: var(--f-size);
  font-weight: var(--f-weight);
  text-align: center;
  /* white-space:nowrap; */
}
/* Componentes */
.medoak{
  margin-top: 150px;
  display: flex;

  /* margin-left: 200px; */
}
/* Utilidades */
.flex {
  display: flex

}
.grid {
  display: grid
}
.imagenes {
  height: 100vh;
  background-color: #f6f3ca;
  background-image: url("https://res.cloudinary.com/drj7gvvzq/image/upload/v1645822224/jk_oecu68.jpg"), url("https://res.cloudinary.com/drj7gvvzq/image/upload/v1645820220/photo-1619506147154-01717498fc26_q5a3ae.jpg"), url("https://res.cloudinary.com/drj7gvvzq/image/upload/v1645820220/photo-1619506147154-01717498fc26_q5a3ae.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top left, center, bottom right;
  background-size: 200px, 600px, 200px;
}
